.wrap-login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: size(60) 0;
    font-family:  $prachason !important;
    @media (min-width: 768px) {
        width: 25rem;
    }
}
.wrap-register{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: size(60) 0;
    font-family:  $prachason !important;
    @media (min-width: 768px) {
        width: 25rem;
    }
}
.group-form{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: size(30);
}

.group-line-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    hr{
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $gray-300;
    }
    span{
        font-size: size(16);
        color: $gray-500;
        font-weight: 500;
        padding: 0 size(15);
    }
}
.btn-signup{
    font-size: size(16) !important;
    padding-top: size(12) !important;
    padding-bottom: size(12) !important;
    font-weight: 500 !important;
}
.btn-social{
    display: flex !important;
    align-items: center;
    justify-content: center;
    border:1px solid rgba($color: #A2A2A2, $alpha: 1.0) !important;
    background-color: rgba($color: #ffffff, $alpha: 1.0) !important;
    color: rgba($color: #222221, $alpha: 1) !important;
    font-size: size(16) !important;
    padding-top: size(11.5) !important;
    padding-bottom: size(11.5) !important;
    font-weight: 500 !important;
    &:hover{
        border:1px solid rgba($color: #A2A2A2, $alpha: 0.5) !important;
        background-color: rgba($color: #A2A2A2, $alpha: 0.1) !important;
        color: rgba($color: #222221, $alpha: 1);
    }
    i{
        font-size: size(25.5);
    }
    img{
        width: size(25.5); 
    }
}

