//Checkout
.box-checkout {
    font-family: $prachason;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
    @media (min-width: 768px) {
        padding: size(24);
        border-radius: size(8);
        background-color: #ffffff;
        border: 1px solid #dededd;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
}

.heading-form-checkout {
    font-size: size(18);
    line-height: size(28);
    font-weight: 500;
    color: $primary;
    margin-bottom: size(10);
}

.box-bank {
    padding: size(5) size(22);
    background: #ffffff;
    border: 2px solid #d4d9de;
    border-radius: size(8);
    .list-bank {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: size(10);
        &:last-child {
            margin-bottom: 0;
        }
    }
    .img-bank {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
    .bank-detail {
        display: flex;
        flex-direction: column;
        padding-left: size(15);
    }
}

.box-credit {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: size(22) size(22);
    background: #f7f7f7;
    border-radius: size(8);
    .img-bank {
        display: flex;
        height: 1.25rem;
        margin-right: size(15);
        &:last-child {
            margin-right: 0;
        }
        img {
            height: 100%;
        }
    }
}
.btn-exclamation{
    border-radius: 50% !important;
    color: #ffffff !important;
    background-color: #007D76 !important;
    border:1px solid #007D76 !important; 
    padding:0 !important;
    width: size(20);
    height: size(20);
    font-size: size(10) !important;
    line-height: size(10) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: size(5);
    &:focus{
        border:1px solid #007D76 !important;
    }
}