$primary: #007D76;
$main:#4AD7D1;
$info: #4AD7D1;
$secondary: #001730;
$danger: #D8232A;
$yellow: #ED9F2D;
$gray-100:#F7F7F7;
$gray-200:#DEDEDD;
$gray-300:#A2A2A2;
$gray-500:#717171;
$gray-900: #222221;
$gray-757:#757575;
$gray-444: #444444;
$black-333:#333333;
$facebook: #1877F2;